spring:
  application:
    name: FiTask
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 1234
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    user: postgres
    password: 1234
    schemas: fitask
    enabled: true
server:
  port: 8082